body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

main {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 11pt;
  width: 8.5in;
  height: 11in;
  background-color: white;
  box-shadow: 
    0 0 10px rgba(0, 0, 0, 0.1),
    0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 1cm;
  box-sizing: border-box;
  overflow: hidden;
}

h1,h2,h3,h4,h5 {
  text-align: center;
  margin: 0;
}

header {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: #0077b6;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

ul {
  margin: 0;
}

p {
  margin: 0;
}

article {
  margin-bottom: 0.5rem;
}

@page {
  size: letter;
}

@media print {
  main {
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: none;
    box-shadow: none;
 } 

 a, button {
   display: none;
 }
}
